* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Archivo', sans-serif;
}

body {
  background: #0D1B2A;
  max-width: 100vw;
}

img {
  width: 40px;
}

.cabecalho {
  background: inherit;
  color: #E0E1DD;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  padding: 40px 350px;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

code:hover {
  color: #FFF;
  cursor: pointer;
}

.listaMenu {
  list-style: none;
  display: flex;
  gap: 40px;
}

.cabecalho a {
  color: inherit;
}

.cabecalho a:hover {
  color: #FFF;
  text-decoration: underline;
}

.secao1 {
  background: #0D1B2A;
  padding: 200px 350px 100px 350px;
  line-height: 50px;
}

.secao1 p {
  color: #778DA9;
  padding: 0 0 5px 0;
  font-size: 20px;
}

.secao1 h1, h2 {
  color: #E0E1DD;
  font-size: 40px;
  font-weight: bold;
}

.secao1 em {
  font-style: italic;
}

.conteinerBotoes1 {
  padding: 20px 0 0 0;
  display: grid;
  width: 450px;
  grid-template-rows: 2fr;
  grid-template-areas:
  "botao1 botao2";
}

.conteinerBotoes2 {
  padding: 20px 0 0 0;
  display: grid;
  width: 350px;
  grid-template-rows: 2fr;
  grid-template-areas:
  "botao1 botao2";
}

.secao1 .botao a {
  color: #E0E1DD;
  background: #778DA9;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #778DA9;
  border-radius: 10px;
  cursor: pointer;
}

.secao2 {
  background: #1B263B;
  padding: 100px 350px;
  line-height: 30px;
}

.secao2 h1 {
  color: #778DA9;
  font-size: 30px;
  font-weight: 700;
  padding: 0 0 30px 0;
}

.secao2 h2 {
  color: #778DA9;
  font-size: 30px;
  font-weight: 600;
  padding: 0 0 10px 0;
}

.secao2 p {
  color: #E0E1DD;
  font-weight: normal;
  font-size: 18px;
  padding: 0 0 30px 0;
}

.secao2 button {
  background: #415A77;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
}

.secao2 button a {
  color: #E0E1DD;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.secao3 {
  padding: 100px 350px;
}

.secao3 h1 {
  color: #778DA9;
  font-size: 30px;
}

.secao3 h3 {
  color: #778DA9;
  font-size: 20px;
}

.secao3 p {
  color: #E0E1DD;
  font-size: 18px;
}

.secao3 .projetos{
  background: #0D1B2A;
  padding: 40px 0 0 0;
  display: grid;
  grid-template-areas:
  "projeto1 projeto2 projeto3"
  "projeto4 projeto5 projeto6";
  justify-content: space-between;
  gap: 70px;
}

.secao3 .projeto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.secao3 a img {
  width: 350px;
  border-radius: 10px;
}

.secao4 {
  background: #1B263B;
  padding: 100px 350px;
  display: flex;
  flex-direction: column;
}

.secao4 h1 {
  grid-area: titulo;
  color: #778DA9;
  font-size: 30px;
  padding: 0 0 30px 0;
}

.secao4 aside {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.secao4 img {
  width: 96px;
  padding: 5px;
  border: 4px solid #0D1B2A;
  border-radius: 10px;
}

.secao4 img:hover {
  border: 4px solid #000;
}

footer {
  color: #E0E1DD;
  background: #0D1B2A;
  font-size: 18px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}